.container{
    margin-bottom: 1px;
}



.img-fluid{
    height: 250px;
    width: auto;
}

.description{
    color: tomato;
}

.headerLogo{
    height: 1px;
    width: auto;
}

.showBoat{
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



/* Feed */
.feedContainer{
    display: flex;
}




.boat{
    
    height: 260px;
    width: 260px;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.footer{
    margin-top: auto;
    
}

.row{
    margin-bottom: 50px;
}


footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
 }
 

.postName{
    font-size: large;
    font-family: 'Lobster', cursive;
}

.postDetail{
    font-family: 'Prompt', sans-serif;
}

.btn{
    margin-top: 4px;
    
}



.postStyle{
font-size: 35px;
font-family: 'Prompt', sans-serif;
font-family: 'Suez One', serif;
color: rgb(86, 183, 85);
margin-bottom: 11px;
text-decoration: underline;
text-decoration-color: black;
}